h1 {
  color: green;
  font-style: italic;
}
.notificationSuccess {
  color: black;
  background-color: lightgreen;
  padding: 10px;
  margin: 20px 10px;
  max-width: fit-content;
}
.notificationError {
  color: black;
  background-color: lightcoral;
  padding: 10px;
  margin: 20px 10px;
  max-width: fit-content;
}
